@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Skill colors */
  --skill-color: #ffffff;
  /* Skill background colors */
  --skill-javascript-background: #f7df1e;
  --skill-typescript-background: #3178c6;
  --skill-react-background: #61dafb;
  --skill-next-background: #000000;
  --skill-tailwind-background: #06b6d4;
  --skill-node-background: #339933;
  --skill-express-background: #000000;
  --skill-mongodb-background: #47a248;
  --skill-cypress-background: #17202c;
  --skill-postgresql-background: #336791;
  --skill-git-background: #f05032;
  --skill-github-background: #181717;
  --skill-redux-background: #764abc;
  --skill-jest-background: #c21325;
  /* New colors for comparison technologies */
  --skill-python-background: #3776ab;
  --skill-java-background: #007396;
  --skill-angular-background: #dd0031;
  --skill-vue-background: #4fc08d;
  --skill-nuxt-background: #00dc82;
  --skill-laravel-background: #ff2d20;
  --skill-spring-boot-background: #6db33f;
  --skill-django-background: #092e20;
  --skill-fastify-background: #3d2727;
  --skill-nestjs-background: #e0234e;
  --skill-amazon-dynamodb-background: #4053d6;
  --skill-oracle-nosql-database-background: #f80000;
  --skill-selenium-background: #43b02a;
  --skill-puppeteer-background: #40b5a4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .fade-in {
    @apply transition-opacity duration-500 ease-in-out;
    opacity: 0;
  }
  .fade-in-visible {
    opacity: 1;
  }
}

.font-caveat {
  font-family: var(--font-caveat);
  display: inline-block;
  transform: rotate(-5deg);
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
