@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Skill colors */
  --skill-color: #ffffff;
  /* Skill background colors */
  --skill-javascript-background: #fbbf24;
  --skill-typescript-background: #2563eb;
  --skill-react-background: #0ea5e9;
  --skill-next-background: #000000;
  --skill-tailwind-background: #0ea5e9;
  --skill-node-background: #16a34a;
  --skill-express-background: #1f2937;
  --skill-mongodb-background: #22c55e;
  --skill-cypress-background: #374151;
  --skill-postgresql-background: #60a5fa;
  --skill-git-background: #ea580c;
  --skill-github-background: #111827;
  --skill-redux-background: #9333ea;
  --skill-jest-background: #dc2626;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .fade-in {
    @apply transition-opacity duration-500 ease-in-out;
    opacity: 0;
  }
  .fade-in-visible {
    opacity: 1;
  }
}

.font-caveat {
  font-family: var(--font-caveat);
  display: inline-block;
  transform: rotate(-5deg);
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
